@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #f8fafb;
    @apply text-neutral-900 dark:bg-lukso-dark dark:text-neutral-100;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  }

  * {
    overflow-wrap: break-word;
    word-break: break-word;
  }

  /* Native macOS overlay scrollbar */
}

@layer components {
  .skeleton {
    @apply animate-pulse bg-gray-200 dark:bg-gray-700 rounded;
  }
}
